<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Welcome to Commodities Dashboard</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
        <h4>Show Metrics as of</h4>
        <mat-form-field>
          <input matInput
          (changeAsOfDate)="changeAsOfDate('input', $event)" (dateChange)="changeAsOfDate('change', $event)"
          [matDatepicker]="asofpicker" placeholder="Choose a As of Date"
          [formControl]="viewAsOfDate">
          <mat-datepicker-toggle matSuffix [for]="asofpicker"></mat-datepicker-toggle>
          <mat-datepicker #asofpicker [startAt]="selectedAsOfDate"></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="col-md-4">
        <h4>Trading Dates Range</h4>
        <mat-form-field>
          <mat-label>Choose Date Range</mat-label>
          <mat-date-range-input [rangePicker]="picker" [formGroup]="range">
            <input matStartDate formControlName="start" placeholder="Start Date">
            <input matEndDate formControlName="end" placeholder="End Date">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker  (closed)="getCommodityGroups()"></mat-date-range-picker>
        </mat-form-field>
    </div>
    <div class="col-md-4">
      <h4>Trading Commodity</h4>
      <mat-form-field>
      <mat-label>Select Commodity</mat-label>
        <mat-select  [(ngModel)]="selectedMetric" [(value)]="selectedMetric">
          <mat-option *ngFor="let metric of metrics" [value]="metric">
            {{metric.commodity}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>



  <div class="row">
    <div class="col-md-3 text-center">
      <div class="card-body">
        <h3 class="card-title">PnL Daily</h3>
        <h2 class="card-text">£{{selectedMetric?.pnlDaily}}</h2>
      </div>
    </div>
    <div class="col-md-3 text-center">
      <div class="card-body">
        <h3 class="card-title">PnL YTD</h3>
        <h2 class="card-text">£{{selectedMetric?.pnlYTD}}</h2>
      </div>
    </div>
    <div class="col-md-3 text-center">
      <div class="card-body">
        <h3 class="card-title">Price</h3>
        <h2 class="card-text">£{{selectedMetric?.price}}</h2>
      </div>
    </div>
    <div class="col-md-3 text-center">
      <div class="card-body">
        <h3 class="card-title">Position</h3>
        <h2 class="card-text">{{selectedMetric?.position}}</h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center" id="chart">
      <highcharts-chart
        [Highcharts] = "highcharts" 
        [options] = "chartOptions" 
        style = "width: 100%; height: 400px; display: block;">
      </highcharts-chart>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Latest Trade Actions</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 ag-theme-alpine-dark" id="gridTable">
      <ag-grid-angular 
          style="width: 100%; height: 300px;" 
          class="ag-theme-material"
          [animateRows]="true"
          [rowData]="rowData" 
          [columnDefs]="columnDefs"
          (gridReady)="onGridReady($event)">
      </ag-grid-angular>
    </div>
  </div>
  <br />
</div>
